This notebook is useful when a batch stopped in the middle and you know the ID or when you want to see how are all your batches

Note: It may make sense to get the latest batch and then use this

In [2]:
import json
from openai import OpenAI
from os import getenv
from dotenv import load_dotenv
from pathlib import Path

from wikipedia_markdown.utils.yaml import load_yaml
from wikipedia_markdown.utils.database import update_llm_cleaned_row

load_dotenv()
openai_token = getenv("OPENAI_TOKEN")

client = OpenAI()

## Check batches

In [3]:
batches = client.batches.list(limit=50)



## Check status single batch

In [9]:
batch_id = "batch_679a7779e2988190b956489961393a5e"

batch = client.batches.retrieve(batch_id)
print(batch)

Batch(id='batch_679a7779e2988190b956489961393a5e', completion_window='24h', created_at=1738176378, endpoint='/v1/chat/completions', input_file_id='file-QKsAqMeY5MCzZHTTX3U75S', object='batch', status='completed', cancelled_at=None, cancelling_at=None, completed_at=1738220649, error_file_id=None, errors=None, expired_at=None, expires_at=1738262778, failed_at=None, finalizing_at=1738220382, in_progress_at=1738176380, metadata={'description': 'Batch 2'}, output_file_id='file-FSPQ2qFc7XWnA4frf7MVrS', request_counts=BatchRequestCounts(completed=2067, failed=0, total=2067))

## Download single batch

In [10]:
# Set the base path
base_path = Path("../")

# Load the YAML configuration
config_path = base_path / "config.yaml"
config = load_yaml(config_path)

# Set the directory to save batch results
results_path = base_path / config["openai_batch_job_results_path"]
results_path.mkdir(parents=True, exist_ok=True)

# Retrieve the batch job details
batch = client.batches.retrieve(batch_id)
if not batch.output_file_id:
    print(f"No output file found for batch {batch_id}. Skipping.")
else:
    # Download the output file content
    file_response = client.files.content(batch.output_file_id)

    # Construct the path to save the result
    result_file_name = f"batch_result_{batch_id}.jsonl"
    result_file_path = results_path / result_file_name

    # Save the content to the file
    with open(result_file_path, "wb") as f:
        f.write(file_response.content)

    print(f"Batch job result saved to {result_file_path}")

Batch job result saved to ../openai_batch_job_results/batch_result_batch_679a7779e2988190b956489961393a5e.jsonl

## Insert in DB results of single batch

In [11]:
def process_jsonl_and_update_db(
    jsonl_file_path: Path, db_path: Path, debug: bool = False
):
    """
    Process a `.jsonl` file and update the database.

    Args:
        jsonl_file_path (Path): Path to the `.jsonl` file containing batch job results.
        db_path (Path): Path to the SQLite database file.
        debug (bool): If True, print debug messages (default: False).
    """
    with open(jsonl_file_path, "r", encoding="utf-8") as file:
        for line in file:
            # Parse each line as a JSON object
            row = json.loads(line)

            # Extract the required data
            custom_id = int(row["custom_id"])  # The ID of the row in the database
            response_body = row["response"]["body"]
            assistant_content = response_body["choices"][0]["message"][
                "content"
            ]  # Assistant's response
            completion_tokens = response_body["usage"][
                "completion_tokens"
            ]  # Token count
            model = response_body["model"]  # Model used for processing

            # Update the database row
            update_llm_cleaned_row(
                db_path=db_path,
                id=custom_id,
                model=model,
                llm_cleaned_text=assistant_content,
                llm_cleaned_text_tokens=completion_tokens,
                debug=debug,
            )

In [12]:
# Construct the full path to the database file
data_folder = base_path / config["data_folder"]
db_file = config["db_file"]
db_path = data_folder / db_file

result_file_name = f"batch_result_{batch_id}.jsonl"
result_file_path = results_path / result_file_name

# Process the `.jsonl` file and update the database
process_jsonl_and_update_db(
    jsonl_file_path=result_file_path,
    db_path=db_path,
    debug=True,  # Set to True to print debug messages
)

Row with id 73401 updated successfully with LLM-cleaned data.
Row with id 73407 updated successfully with LLM-cleaned data.
Row with id 73415 updated successfully with LLM-cleaned data.
Row with id 73423 updated successfully with LLM-cleaned data.
Row with id 73424 updated successfully with LLM-cleaned data.
Row with id 73425 updated successfully with LLM-cleaned data.
Row with id 73429 updated successfully with LLM-cleaned data.
Row with id 73430 updated successfully with LLM-cleaned data.
Row with id 73440 updated successfully with LLM-cleaned data.
Row with id 73441 updated successfully with LLM-cleaned data.
Row with id 73443 updated successfully with LLM-cleaned data.
Row with id 73449 updated successfully with LLM-cleaned data.
Row with id 73454 updated successfully with LLM-cleaned data.
Row with id 73455 updated successfully with LLM-cleaned data.
Row with id 73458 updated successfully with LLM-cleaned data.
Row with id 73462 updated successfully with LLM-cleaned data.
Row with id 73475 updated successfully with LLM-cleaned data.
Row with id 73486 updated successfully with LLM-cleaned data.
Row with id 73497 updated successfully with LLM-cleaned data.
Row with id 73521 updated successfully with LLM-cleaned data.
Row with id 73544 updated successfully with LLM-cleaned data.
Row with id 73545 updated successfully with LLM-cleaned data.
Row with id 73553 updated successfully with LLM-cleaned data.
Row with id 73562 updated successfully with LLM-cleaned data.
Row with id 73565 updated successfully with LLM-cleaned data.
Row with id 73568 updated successfully with LLM-cleaned data.
Row with id 73570 updated successfully with LLM-cleaned data.
Row with id 73571 updated successfully with LLM-cleaned data.
Row with id 73586 updated successfully with LLM-cleaned data.
Row with id 73587 updated successfully with LLM-cleaned data.
Row with id 73595 updated successfully with LLM-cleaned data.
Row with id 73599 updated successfully with LLM-cleaned data.
Row with id 73602 updated successfully with LLM-cleaned data.
Row with id 73611 updated successfully with LLM-cleaned data.
Row with id 73619 updated successfully with LLM-cleaned data.
Row with id 73620 updated successfully with LLM-cleaned data.
Row with id 73621 updated successfully with LLM-cleaned data.
Row with id 73626 updated successfully with LLM-cleaned data.
Row with id 73631 updated successfully with LLM-cleaned data.
Row with id 73645 updated successfully with LLM-cleaned data.
Row with id 73653 updated successfully with LLM-cleaned data.
Row with id 73673 updated successfully with LLM-cleaned data.
Row with id 73691 updated successfully with LLM-cleaned data.
Row with id 73694 updated successfully with LLM-cleaned data.
Row with id 73695 updated successfully with LLM-cleaned data.
Row with id 73698 updated successfully with LLM-cleaned data.
Row with id 73701 updated successfully with LLM-cleaned data.
Row with id 73704 updated successfully with LLM-cleaned data.
Row with id 73709 updated successfully with LLM-cleaned data.
Row with id 73710 updated successfully with LLM-cleaned data.
Row with id 73711 updated successfully with LLM-cleaned data.
Row with id 73712 updated successfully with LLM-cleaned data.
Row with id 73713 updated successfully with LLM-cleaned data.
Row with id 73715 updated successfully with LLM-cleaned data.
Row with id 73718 updated successfully with LLM-cleaned data.
Row with id 73723 updated successfully with LLM-cleaned data.
Row with id 73730 updated successfully with LLM-cleaned data.
Row with id 73750 updated successfully with LLM-cleaned data.
Row with id 73755 updated successfully with LLM-cleaned data.
Row with id 73756 updated successfully with LLM-cleaned data.
Row with id 73764 updated successfully with LLM-cleaned data.
Row with id 73765 updated successfully with LLM-cleaned data.
Row with id 73841 updated successfully with LLM-cleaned data.
Row with id 73857 updated successfully with LLM-cleaned data.
Row with id 73859 updated successfully with LLM-cleaned data.
Row with id 73863 updated successfully with LLM-cleaned data.
Row with id 73864 updated successfully with LLM-cleaned data.
Row with id 73869 updated successfully with LLM-cleaned data.
Row with id 73875 updated successfully with LLM-cleaned data.
Row with id 73877 updated successfully with LLM-cleaned data.
Row with id 73895 updated successfully with LLM-cleaned data.
Row with id 73913 updated successfully with LLM-cleaned data.
Row with id 73922 updated successfully with LLM-cleaned data.
Row with id 73925 updated successfully with LLM-cleaned data.
Row with id 73934 updated successfully with LLM-cleaned data.
Row with id 73936 updated successfully with LLM-cleaned data.
Row with id 73940 updated successfully with LLM-cleaned data.
Row with id 73941 updated successfully with LLM-cleaned data.
Row with id 73942 updated successfully with LLM-cleaned data.
Row with id 73943 updated successfully with LLM-cleaned data.
Row with id 73947 updated successfully with LLM-cleaned data.
Row with id 73948 updated successfully with LLM-cleaned data.
Row with id 73950 updated successfully with LLM-cleaned data.
Row with id 73956 updated successfully with LLM-cleaned data.
Row with id 73958 updated successfully with LLM-cleaned data.
Row with id 73959 updated successfully with LLM-cleaned data.
Row with id 73964 updated successfully with LLM-cleaned data.
Row with id 73969 updated successfully with LLM-cleaned data.
Row with id 73975 updated successfully with LLM-cleaned data.
Row with id 73978 updated successfully with LLM-cleaned data.
Row with id 73981 updated successfully with LLM-cleaned data.
Row with id 73985 updated successfully with LLM-cleaned data.
Row with id 73993 updated successfully with LLM-cleaned data.
Row with id 73997 updated successfully with LLM-cleaned data.
Row with id 74000 updated successfully with LLM-cleaned data.
Row with id 74002 updated successfully with LLM-cleaned data.
Row with id 74005 updated successfully with LLM-cleaned data.
Row with id 74031 updated successfully with LLM-cleaned data.
Row with id 74033 updated successfully with LLM-cleaned data.
Row with id 74035 updated successfully with LLM-cleaned data.
Row with id 74036 updated successfully with LLM-cleaned data.
Row with id 74039 updated successfully with LLM-cleaned data.
Row with id 74042 updated successfully with LLM-cleaned data.
Row with id 74043 updated successfully with LLM-cleaned data.
Row with id 74073 updated successfully with LLM-cleaned data.
Row with id 74077 updated successfully with LLM-cleaned data.
Row with id 74079 updated successfully with LLM-cleaned data.
Row with id 74084 updated successfully with LLM-cleaned data.
Row with id 74086 updated successfully with LLM-cleaned data.
Row with id 74093 updated successfully with LLM-cleaned data.
Row with id 74102 updated successfully with LLM-cleaned data.
Row with id 74103 updated successfully with LLM-cleaned data.
Row with id 74110 updated successfully with LLM-cleaned data.
Row with id 74112 updated successfully with LLM-cleaned data.
Row with id 74115 updated successfully with LLM-cleaned data.
Row with id 74128 updated successfully with LLM-cleaned data.
Row with id 74131 updated successfully with LLM-cleaned data.
Row with id 74136 updated successfully with LLM-cleaned data.
Row with id 74142 updated successfully with LLM-cleaned data.
Row with id 74154 updated successfully with LLM-cleaned data.
Row with id 74157 updated successfully with LLM-cleaned data.
Row with id 74158 updated successfully with LLM-cleaned data.
Row with id 74159 updated successfully with LLM-cleaned data.
Row with id 74161 updated successfully with LLM-cleaned data.
Row with id 74165 updated successfully with LLM-cleaned data.
Row with id 74166 updated successfully with LLM-cleaned data.
Row with id 74167 updated successfully with LLM-cleaned data.
Row with id 74169 updated successfully with LLM-cleaned data.
Row with id 74171 updated successfully with LLM-cleaned data.
Row with id 74172 updated successfully with LLM-cleaned data.
Row with id 74173 updated successfully with LLM-cleaned data.
Row with id 74174 updated successfully with LLM-cleaned data.
Row with id 74175 updated successfully with LLM-cleaned data.
Row with id 74176 updated successfully with LLM-cleaned data.
Row with id 74177 updated successfully with LLM-cleaned data.
Row with id 74183 updated successfully with LLM-cleaned data.
Row with id 74186 updated successfully with LLM-cleaned data.
Row with id 74188 updated successfully with LLM-cleaned data.
Row with id 74189 updated successfully with LLM-cleaned data.
Row with id 74193 updated successfully with LLM-cleaned data.
Row with id 74195 updated successfully with LLM-cleaned data.
Row with id 74208 updated successfully with LLM-cleaned data.
Row with id 74210 updated successfully with LLM-cleaned data.
Row with id 74213 updated successfully with LLM-cleaned data.
Row with id 74217 updated successfully with LLM-cleaned data.
Row with id 74218 updated successfully with LLM-cleaned data.
Row with id 74219 updated successfully with LLM-cleaned data.
Row with id 74220 updated successfully with LLM-cleaned data.
Row with id 74221 updated successfully with LLM-cleaned data.
Row with id 74229 updated successfully with LLM-cleaned data.
Row with id 74230 updated successfully with LLM-cleaned data.
Row with id 74234 updated successfully with LLM-cleaned data.
Row with id 74235 updated successfully with LLM-cleaned data.
Row with id 74238 updated successfully with LLM-cleaned data.
Row with id 74242 updated successfully with LLM-cleaned data.
Row with id 74246 updated successfully with LLM-cleaned data.
Row with id 74247 updated successfully with LLM-cleaned data.
Row with id 74250 updated successfully with LLM-cleaned data.
Row with id 74254 updated successfully with LLM-cleaned data.
Row with id 74261 updated successfully with LLM-cleaned data.
Row with id 74265 updated successfully with LLM-cleaned data.
Row with id 74279 updated successfully with LLM-cleaned data.
Row with id 74296 updated successfully with LLM-cleaned data.
Row with id 74308 updated successfully with LLM-cleaned data.
Row with id 74317 updated successfully with LLM-cleaned data.
Row with id 74332 updated successfully with LLM-cleaned data.
Row with id 74366 updated successfully with LLM-cleaned data.
Row with id 74378 updated successfully with LLM-cleaned data.
Row with id 74392 updated successfully with LLM-cleaned data.
Row with id 74400 updated successfully with LLM-cleaned data.
Row with id 74405 updated successfully with LLM-cleaned data.
Row with id 74413 updated successfully with LLM-cleaned data.
Row with id 74414 updated successfully with LLM-cleaned data.
Row with id 74421 updated successfully with LLM-cleaned data.
Row with id 74452 updated successfully with LLM-cleaned data.
Row with id 74477 updated successfully with LLM-cleaned data.
Row with id 74499 updated successfully with LLM-cleaned data.
Row with id 74575 updated successfully with LLM-cleaned data.
Row with id 74576 updated successfully with LLM-cleaned data.
Row with id 74587 updated successfully with LLM-cleaned data.
Row with id 74591 updated successfully with LLM-cleaned data.
Row with id 74592 updated successfully with LLM-cleaned data.
Row with id 74593 updated successfully with LLM-cleaned data.
Row with id 74594 updated successfully with LLM-cleaned data.
Row with id 74608 updated successfully with LLM-cleaned data.
Row with id 74633 updated successfully with LLM-cleaned data.
Row with id 74636 updated successfully with LLM-cleaned data.
Row with id 74638 updated successfully with LLM-cleaned data.
Row with id 74646 updated successfully with LLM-cleaned data.
Row with id 74650 updated successfully with LLM-cleaned data.
Row with id 74654 updated successfully with LLM-cleaned data.
Row with id 74663 updated successfully with LLM-cleaned data.
Row with id 74668 updated successfully with LLM-cleaned data.
Row with id 74671 updated successfully with LLM-cleaned data.
Row with id 74684 updated successfully with LLM-cleaned data.
Row with id 74698 updated successfully with LLM-cleaned data.
Row with id 74702 updated successfully with LLM-cleaned data.
Row with id 74703 updated successfully with LLM-cleaned data.
Row with id 74704 updated successfully with LLM-cleaned data.
Row with id 74705 updated successfully with LLM-cleaned data.
Row with id 74710 updated successfully with LLM-cleaned data.
Row with id 74713 updated successfully with LLM-cleaned data.
Row with id 74715 updated successfully with LLM-cleaned data.
Row with id 74728 updated successfully with LLM-cleaned data.
Row with id 74732 updated successfully with LLM-cleaned data.
Row with id 74741 updated successfully with LLM-cleaned data.
Row with id 74750 updated successfully with LLM-cleaned data.
Row with id 74752 updated successfully with LLM-cleaned data.
Row with id 74754 updated successfully with LLM-cleaned data.
Row with id 74760 updated successfully with LLM-cleaned data.
Row with id 74764 updated successfully with LLM-cleaned data.
Row with id 74776 updated successfully with LLM-cleaned data.
Row with id 74778 updated successfully with LLM-cleaned data.
Row with id 74781 updated successfully with LLM-cleaned data.
Row with id 74782 updated successfully with LLM-cleaned data.
Row with id 74800 updated successfully with LLM-cleaned data.
Row with id 74803 updated successfully with LLM-cleaned data.
Row with id 74807 updated successfully with LLM-cleaned data.
Row with id 74808 updated successfully with LLM-cleaned data.
Row with id 74809 updated successfully with LLM-cleaned data.
Row with id 74810 updated successfully with LLM-cleaned data.
Row with id 74814 updated successfully with LLM-cleaned data.
Row with id 74815 updated successfully with LLM-cleaned data.
Row with id 74816 updated successfully with LLM-cleaned data.
Row with id 74820 updated successfully with LLM-cleaned data.
Row with id 74825 updated successfully with LLM-cleaned data.
Row with id 74831 updated successfully with LLM-cleaned data.
Row with id 74832 updated successfully with LLM-cleaned data.
Row with id 74833 updated successfully with LLM-cleaned data.
Row with id 74834 updated successfully with LLM-cleaned data.
Row with id 74844 updated successfully with LLM-cleaned data.
Row with id 74846 updated successfully with LLM-cleaned data.
Row with id 74847 updated successfully with LLM-cleaned data.
Row with id 74854 updated successfully with LLM-cleaned data.
Row with id 74859 updated successfully with LLM-cleaned data.
Row with id 74861 updated successfully with LLM-cleaned data.
Row with id 74892 updated successfully with LLM-cleaned data.
Row with id 74894 updated successfully with LLM-cleaned data.
Row with id 74908 updated successfully with LLM-cleaned data.
Row with id 74912 updated successfully with LLM-cleaned data.
Row with id 74913 updated successfully with LLM-cleaned data.
Row with id 74919 updated successfully with LLM-cleaned data.
Row with id 74924 updated successfully with LLM-cleaned data.
Row with id 74925 updated successfully with LLM-cleaned data.
Row with id 74927 updated successfully with LLM-cleaned data.
Row with id 74929 updated successfully with LLM-cleaned data.
Row with id 74930 updated successfully with LLM-cleaned data.
Row with id 74932 updated successfully with LLM-cleaned data.
Row with id 74934 updated successfully with LLM-cleaned data.
Row with id 74936 updated successfully with LLM-cleaned data.
Row with id 74938 updated successfully with LLM-cleaned data.
Row with id 74941 updated successfully with LLM-cleaned data.
Row with id 74942 updated successfully with LLM-cleaned data.
Row with id 74947 updated successfully with LLM-cleaned data.
Row with id 74951 updated successfully with LLM-cleaned data.
Row with id 74955 updated successfully with LLM-cleaned data.
Row with id 74971 updated successfully with LLM-cleaned data.
Row with id 74972 updated successfully with LLM-cleaned data.
Row with id 74973 updated successfully with LLM-cleaned data.
Row with id 74974 updated successfully with LLM-cleaned data.
Row with id 74995 updated successfully with LLM-cleaned data.
Row with id 74997 updated successfully with LLM-cleaned data.
Row with id 74999 updated successfully with LLM-cleaned data.
Row with id 75003 updated successfully with LLM-cleaned data.
Row with id 75007 updated successfully with LLM-cleaned data.
Row with id 75010 updated successfully with LLM-cleaned data.
Row with id 75012 updated successfully with LLM-cleaned data.
Row with id 75016 updated successfully with LLM-cleaned data.
Row with id 75020 updated successfully with LLM-cleaned data.
Row with id 75022 updated successfully with LLM-cleaned data.
Row with id 75023 updated successfully with LLM-cleaned data.
Row with id 75025 updated successfully with LLM-cleaned data.
Row with id 75042 updated successfully with LLM-cleaned data.
Row with id 75064 updated successfully with LLM-cleaned data.
Row with id 75069 updated successfully with LLM-cleaned data.
Row with id 75070 updated successfully with LLM-cleaned data.
Row with id 75078 updated successfully with LLM-cleaned data.
Row with id 75079 updated successfully with LLM-cleaned data.
Row with id 75083 updated successfully with LLM-cleaned data.
Row with id 75101 updated successfully with LLM-cleaned data.
Row with id 75110 updated successfully with LLM-cleaned data.
Row with id 75124 updated successfully with LLM-cleaned data.
Row with id 75125 updated successfully with LLM-cleaned data.
Row with id 75149 updated successfully with LLM-cleaned data.
Row with id 75150 updated successfully with LLM-cleaned data.
Row with id 75151 updated successfully with LLM-cleaned data.
Row with id 75155 updated successfully with LLM-cleaned data.
Row with id 75156 updated successfully with LLM-cleaned data.
Row with id 75157 updated successfully with LLM-cleaned data.
Row with id 75158 updated successfully with LLM-cleaned data.
Row with id 75161 updated successfully with LLM-cleaned data.
Row with id 75163 updated successfully with LLM-cleaned data.
Row with id 75170 updated successfully with LLM-cleaned data.
Row with id 75172 updated successfully with LLM-cleaned data.
Row with id 75174 updated successfully with LLM-cleaned data.
Row with id 75176 updated successfully with LLM-cleaned data.
Row with id 75177 updated successfully with LLM-cleaned data.
Row with id 75180 updated successfully with LLM-cleaned data.
Row with id 75182 updated successfully with LLM-cleaned data.
Row with id 75190 updated successfully with LLM-cleaned data.
Row with id 75195 updated successfully with LLM-cleaned data.
Row with id 75199 updated successfully with LLM-cleaned data.
Row with id 75200 updated successfully with LLM-cleaned data.
Row with id 75222 updated successfully with LLM-cleaned data.
Row with id 75223 updated successfully with LLM-cleaned data.
Row with id 75227 updated successfully with LLM-cleaned data.
Row with id 75236 updated successfully with LLM-cleaned data.
Row with id 75242 updated successfully with LLM-cleaned data.
Row with id 75247 updated successfully with LLM-cleaned data.
Row with id 75248 updated successfully with LLM-cleaned data.
Row with id 75257 updated successfully with LLM-cleaned data.
Row with id 75259 updated successfully with LLM-cleaned data.
Row with id 75260 updated successfully with LLM-cleaned data.
Row with id 75262 updated successfully with LLM-cleaned data.
Row with id 75264 updated successfully with LLM-cleaned data.
Row with id 75267 updated successfully with LLM-cleaned data.
Row with id 75270 updated successfully with LLM-cleaned data.
Row with id 75272 updated successfully with LLM-cleaned data.
Row with id 75274 updated successfully with LLM-cleaned data.
Row with id 75275 updated successfully with LLM-cleaned data.
Row with id 75276 updated successfully with LLM-cleaned data.
Row with id 75287 updated successfully with LLM-cleaned data.

In [13]:
client.batches.cancel("batch_679b3785eea08190954b1e082303d987")

Batch(id='batch_679b3785eea08190954b1e082303d987', completion_window='24h', created_at=1738225542, endpoint='/v1/chat/completions', input_file_id='file-A3WUqMj3VuWssfM78AJ7qE', object='batch', status='cancelling', cancelled_at=None, cancelling_at=1738226848, completed_at=None, error_file_id=None, errors=None, expired_at=None, expires_at=1738311942, failed_at=None, finalizing_at=None, in_progress_at=1738225543, metadata={'description': 'Batch 1'}, output_file_id=None, request_counts=BatchRequestCounts(completed=0, failed=0, total=2054))